<app-toast [message]="toast.message"></app-toast>
<div class="container">
  <app-page-header [title]="title"></app-page-header>
 <div class="row">
    <div class="col-md-4 col-sm-12 col-centered">
      <div class="form-wrap">

		 <form [formGroup]="registerForm" (ngSubmit)="register()">
			<div class="input-wrap">
                            <mat-form-field>
                                <span matPrefix>
                                    <i class="prefix fa fa-user"></i>
                                 </span>
                                <input matInput class="form-control" formControlName="fname" type="text" placeholder="Enter first name" />
                                <ng-container *ngFor="let error of error_messages.fname">
                                    <mat-error  *ngIf="registerForm.get('fname').hasError(error.type) && (registerForm.get('fname').dirty || registerForm.get('fname').touched)">
                                    {{ error.message }}
                                   </mat-error>
                               </ng-container>
                            </mat-form-field>
			</div>
                     
                       <div class="input-wrap">
                            <mat-form-field>
                                <span matPrefix>
                                    <i class="prefix fa fa-user"></i>
                                 </span>
                                <input matInput class="form-control" formControlName="lname" type="text" placeholder="Enter last name" />
                                <ng-container *ngFor="let error of error_messages.lname">
                                    <mat-error  *ngIf="registerForm.get('lname').hasError(error.type) && (registerForm.get('lname').dirty || registerForm.get('lname').touched)">
                                    {{ error.message }}
                                   </mat-error>
                               </ng-container>
                            </mat-form-field>
			</div>
                     
                     
                        <div class="input-wrap">
                            <mat-form-field>
                                <span matPrefix>
                                    <i class="prefix fa fa-envelope"></i>
                                 </span>
                                <input matInput class="form-control" formControlName="email" type="text" placeholder="Email Id" />
                                <ng-container *ngFor="let error of error_messages.email">
                                    <mat-error  *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                                    {{ error.message }}
                                   </mat-error>
                               </ng-container>
                            </mat-form-field>
			</div> 
                     
                        <div class="input-wrap">
                            <mat-form-field>
                                <span matPrefix>
                                    <i class="prefix fa fa-key"></i>
                                 </span>
                                <input matInput class="form-control" formControlName="password" type="password" placeholder="Password" />
                                <ng-container *ngFor="let error of error_messages.password">
                                    <mat-error  *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                                    {{ error.message }}
                                   </mat-error>
                               </ng-container>
                            </mat-form-field>
			</div> 
                     
                        <div class="input-wrap">
                            <mat-form-field>
                                <span matPrefix>
                                    <i class="prefix fa fa-key"></i>
                                 </span>
                                <input matInput class="form-control" formControlName="confirmpassword" type="password" placeholder="Confrm Password" [errorStateMatcher]="matcher" />
                                <ng-container *ngFor="let error of error_messages.confirmpassword">
                                    <mat-error  *ngIf="registerForm.get('confirmpassword').hasError(error.type) && (registerForm.get('confirmpassword').dirty || registerForm.get('confirmpassword').touched)">
                                    {{ error.message }}
                                   </mat-error>
                               </ng-container>
                                <mat-error *ngIf="registerForm.hasError('notSame')">
                                    Passwords do not match
                            </mat-error>  
                                
                            </mat-form-field>
			</div>    
                        <button mat-raised-button type="submit" [disabled]="!registerForm.valid" color="accent">
                            <i class="fa fa-paper-plane"></i> Signup
                         </button>
		</form>
      </div>
    </div>
 </div>
</div>