@import '../variables';
body{
    overflow: none !important;
}
.link {
    color: $whiteCol;
    text-decoration: none;
    &:hover {
        color: white;
    }
}

.links-group {
    margin: 0 10px;
    .link {
        font-size: $font-regular;
    }
}

.user-menu {
    position: absolute;
    right: 0;
    i {
        font-size: $font-regular;
    }
}